body{
    margin: 0px;
    background-color: white;
}

/* Navigation */

#navigation{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 29%;
}
#navigation ul li{
    display: inline-block;
    margin-right: 35px;
}
#navigation a {
    text-decoration: none;
    padding: 10px;
    color: #589CCC;
    color: white;
    background-color: #7e92ae;
    font-size: 16px;
}
#navigation a:hover{
    cursor: pointer;
    background: black;
    color: #66fcf1;
}

/* Home */

#home{
    width: 100%;
    background-color: #7e92ae;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    height: 800px;
    padding-top: 100px;
    text-align: center;
}
#hometext{
    margin-top: 50px;
    font-size: 20px;
}


/* Projects */

#projects{
    width: 100%;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    padding: 100px 70px;
    background-color: #7e92ae;
}
#projects > div{
    background-color: rgb(236, 231, 231);
    height: 580px;
    padding: 30px 70px;
}
#projects h1 p{
    width: 30%;
}
#projectstext h1{
    font-size: 16px;
}


/* Contact me */

#contact{
    position: relative;
    top: 300px;
}
#contactList{
    margin: 0px 560px;
    width: auto;
    height: auto;
    display: none;
}
#contactList ul{
    width: 100%;
}
#contactList ul li{
    display: inline-block;
}
#contactEmail{
    text-align: center;
}
#contactEmail img{
    padding: 0px 60px;
    margin: 0px 530px;
}

/* My form */
#myForm{
    /* display: none; */
}

